.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: #1a202c;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 28rem;
  position: relative;
  border: 1px solid #4a5568;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #718096;
}

.closeButton:hover {
  color: #000;
}
