.form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.textarea {
  width: 100%;
  padding: 0.5rem;
  border-width: 1px;
  border-radius: 0.25rem;
}

.select {
  border-width: 1px;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.button {
  background-color: #2563eb;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.message {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
