
.main {
  max-width: 42rem; /* max-w-xl */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem; /* px-6 */
  padding-right: 1.5rem; /* px-6 */
  padding-top: 2rem; /* py-8 */
  padding-bottom: 2rem; /* py-8 */
}

.h1 {
  font-size: 2.25rem; /* text-4xl */
  line-height: 2.5rem;
  font-weight: 700; /* font-bold */
  margin-bottom: 1.5rem; /* mb-6 */
  text-align: center; /* text-center */
}

.form {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse))); /* space-y-5 */
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse)); /* space-y-5 */
  background-color: #fff; /* bg-white */
  padding: 1.5rem; /* p-6 */
  border-radius: 0.75rem; /* rounded-xl */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
}

.input, .textarea {
  width: 100%; /* w-full */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  border-width: 1px; /* border */
  border-color: #d1d5db; /* border-gray-300 */
  border-radius: 0.5rem; /* rounded-lg */
  color: #4b5563; /* text-gray-800 */
}

.input::placeholder, .textarea::placeholder {
  color: #6b7280; /* placeholder-gray-500 */
}

.input:focus, .textarea:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-color: #3b82f6; /* focus:ring-blue-500 */
}

.fileInput {
    width: 100%;
    padding: 1rem 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    color: #9ca3af;
}

.button {
  width: 100%; /* w-full */
  background-color: #2563eb; /* bg-blue-600 */
  color: #fff; /* text-white */
  font-weight: 600; /* font-semibold */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  border-radius: 0.5rem; /* rounded-lg */
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button:hover {
  background-color: #1d4ed8; /* hover:bg-blue-700 */
}

.p {
  text-align: center; /* text-center */
  font-size: 0.875rem; /* text-sm */
  line-height: 1.25rem;
  margin-top: 1rem; /* mt-4 */
  color: #4b5563; /* text-gray-600 */
}

.link {
  color: #2563eb; /* text-blue-600 */
}

.link:hover {
  text-decoration-line: underline; /* hover:underline */
}

.message {
  margin-top: 1rem; /* mt-4 */
  text-align: center; /* text-center */
  font-weight: 500; /* font-medium */
}

.success {
  color: #16a34a; /* text-green-600 */
}

.error {
  color: #dc2626; /* text-red-600 */
}

.textarea {
    resize: none;
}
